<section class="footer margin-top-176-mobile-144">
    <div class="w-layout-blockcontainer container w-container">
        <div class="w-layout-grid footer-content-grid">
            <div id="w-node-a131b771-2a49-3f3f-ead4-9cb52dab318c-2dab3189" class="footer-block">
                <div class="wrapper">
                    <div class="regular-m margin-bottom-16">School</div>
                    <div class="line black"></div>
                </div>
                <div class="footer-block-links">
                    <a href="/about" aria-current="page" class="regular-m footer-link w--current">About</a>
                    <a href="/services" class="regular-m footer-link">Services</a>
                    <a href="/admissions" class="regular-m footer-link">Admissions</a>
                    <a href="/news-events" class="regular-m footer-link">News &amp; Events</a>
                    <a href="/contact-us" class="regular-m footer-link">Contact Us</a>
                </div>
            </div>
            <div class="footer-block">
                <div class="wrapper">
                    <div class="regular-m margin-bottom-16">Academics</div>
                    <div class="line black"></div>
                </div>
                <div class="footer-block-links">
                    <a href="/academics/departments" class="regular-m footer-link">Departments</a>
                    <a href="/academics/advanced-placement-program" class="regular-m footer-link">Advanced Placement Program</a>
                    <a href="/academics/safe-schools-program" class="regular-m footer-link">Safe Schools Program</a>
                </div>
            </div>
            <div id="w-node-a131b771-2a49-3f3f-ead4-9cb52dab31a8-2dab3189" class="footer-block">
                <div class="wrapper">
                    <div class="regular-m margin-bottom-16">Follow Us</div>
                    <div class="line black"></div>
                </div>
                <div class="footer-block-links socials">
                    <a href="https://www.facebook.com/" target="_blank" class="regular-m footer-link">Facebook</a>
                    <a href="https://twitter.com/home" target="_blank" class="regular-m footer-link">Twitter</a>
                    <a href="https://www.youtube.com/" target="_blank" class="regular-m footer-link">YouTube</a>
                    <a href="https://www.instagram.com/" target="_blank" class="regular-m footer-link">Instagram</a>
                </div>
            </div>
        </div>
        <div class="footer-legal">
            <div class="regular-s color-grey-80">© 2023, All Rights Reserved</div>
            <a href="/licenses" class="regular-s color-grey-80 legal-link">Licenses</a>
        </div>
    </div>
</section>
