@{
    Layout = "_Layout";
}

<section class="section">
    <main class="hero-content">
        <div class="w-layout-blockcontainer container hero w-container">
            <div class="hero-section-content">
                <div class="hero-section-content-block home">
                    <div class="wrapper max-width-640-mobile-480">
                        <h1 class="h1 margin-bottom-28">Empowering Minds, Inspiring Futures</h1>
                        <p class="regular-xl max-width-420">Welcome to St. Ignatius College School! Get ready for another year of learning and growing together. We&#x27;re excited to have you here!</p>
                    </div>
                    <div class="buttons-wrapper">
                        <a href="/about" class="button primary w-button">About School</a>
                        <a href="/contact-us" class="button secondary w-button">Contact Us</a>
                    </div>
                </div>
                <div class="hero-section-image home-block">
                    <div class="hero-home-collection-list-wrapper w-dyn-list">
                        <div role="list" class="hero-home-collection-list w-dyn-items">
                            <div role="listitem" class="hero-home-collection-item w-dyn-item">
                                <a href="/news-events/pa-day-for-elementary-and-secondary-schools" class="hero-home-collection-item-content w-inline-block">
                                    <div class="wrapper">
                                        <div class="regular-m grey-80 margin-bottom-16">Mar 3</div>
                                        <h3 class="h3">PA Day for Elementary and Secondary Schools</h3>
                                    </div>
                                    <div class="tertiary-button">
                                        <div class="regular-m">Discover Event</div>
                                        <div class="tertiary-button-icon">
                                            <img src="images/arrow-20right.svg" loading="lazy" alt="" class="icon-size-14" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
<section class="section margin-top-64-tablet-48-mobile-24">
    <div class="w-layout-blockcontainer container w-container">
        <div class="banner-type-one">
            <div class="banner-type-one-content">
                <div class="wrapper max-width-880-tablet-640-mobile-480">
                    <p class="banner-heading">Join Our Welcoming Community through St. Ignatius College School Admissions</p>
                </div>
                <a href="/admissions" class="button primary w-button">Learn More</a>
            </div>
            <div class="banner-type-one-pattern hero-one"></div>
        </div>
    </div>
</section>
<section class="section margin-top-176-mobile-144">
    <div class="w-layout-blockcontainer container w-container">
        <h2 class="h2 max-width-432-mobile-320 margin-bottom-56">Essential Resources for Students</h2>
        <div class="w-layout-grid blocks-grid-4-tablet-2-mobile-1">
            <a href="https://www.google.com/" target="_blank" class="block padding-24-32 bg-grey-3 w-inline-block">
                <img src="images/bus.svg" loading="lazy" alt="" class="icon-size-40 margin-bottom-40" />
                <div class="wrapper justify-content">
                    <div class="wrapper max-width-420 margin-bottom-32">
                        <h4 class="h4 margin-bottom-16">Transportation Options for Students</h4>
                        <p class="regular-m">The Toronto Catholic District School Board (TCDSB) works with the Toronto Student Transportation Group (TSTG) to provide transportation for qualifying children.</p>
                    </div>
                    <div class="tertiary-button">
                        <div class="regular-m">Learn More</div>
                        <div class="tertiary-button-icon">
                            <img src="images/arrow-20up-20right.svg" loading="lazy" alt="" class="icon-size-14" />
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://www.google.com/" target="_blank" class="block padding-24-32 bg-grey-3 w-inline-block">
                <img src="images/books.svg" loading="lazy" alt="" class="icon-size-40 margin-bottom-40" />
                <div class="wrapper justify-content">
                    <div class="wrapper max-width-420 margin-bottom-32">
                        <h4 class="h4 margin-bottom-16">Online School Library and Databases</h4>
                        <p class="regular-m">Access to academic journals, articles, and research papers is crucial for students&#x27; academic projects and assignments. Stay updated on the latest research trends.</p>
                    </div>
                    <div class="tertiary-button">
                        <div class="regular-m">Learn More</div>
                        <div class="tertiary-button-icon">
                            <img src="images/arrow-20up-20right.svg" loading="lazy" alt="" class="icon-size-14" />
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://www.google.com/" target="_blank" class="block padding-24-32 bg-grey-3 w-inline-block">
                <img src="images/graph.svg" loading="lazy" alt="" class="icon-size-40 margin-bottom-40" />
                <div class="wrapper justify-content">
                    <div class="wrapper max-width-420 margin-bottom-32">
                        <h4 class="h4 margin-bottom-16">Tools for Writing and Research Online</h4>
                        <p class="regular-m">Enhance writing proficiency by refining language skills, meticulously ensuring grammatical accuracy, and meticulously detecting plagiarism through advanced online tools.</p>
                    </div>
                    <div class="tertiary-button">
                        <div class="regular-m">Learn More</div>
                        <div class="tertiary-button-icon">
                            <img src="images/arrow-20up-20right.svg" loading="lazy" alt="" class="icon-size-14" />
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://www.google.com/" target="_blank" class="block padding-24-32 bg-grey-3 w-inline-block">
                <img src="images/notebook.svg" loading="lazy" alt="" class="icon-size-40 margin-bottom-40" />
                <div class="wrapper justify-content">
                    <div class="wrapper max-width-420 margin-bottom-32">
                        <h4 class="h4 margin-bottom-16">Career Exploration and Planning Tools</h4>
                        <p class="regular-m">Engage in exploration of various career options, conduct in-depth research into diverse industries, and strategically plan educational pursuits and career pathways.</p>
                    </div>
                    <div class="tertiary-button">
                        <div class="regular-m">Learn More</div>
                        <div class="tertiary-button-icon">
                            <img src="images/arrow-20up-20right.svg" loading="lazy" alt="" class="icon-size-14" />
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<section class="section margin-top-176-mobile-144">
    <div class="w-layout-blockcontainer container w-container">
        <div class="heading-and-button margin-bottom-56">
            <h2 class="h2 max-width-432-mobile-320">Comprehensive Student Services</h2>
            <a href="/services" class="button secondary small w-button">Learn More</a>
        </div>
        <div class="w-layout-grid blocks-grid-3-tablet-1-mobile-1">
            <div class="block service">
                <img src="images/pexels-fauxels-3184644-min.webp" loading="lazy" sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 90vw, 92vw" srcset="images/pexels-fauxels-3184644-min-p-500.webp 500w, images/pexels-fauxels-3184644-min-p-800.webp 800w, images/pexels-fauxels-3184644-min-p-1080.webp 1080w, images/pexels-fauxels-3184644-min-p-1600.webp 1600w, images/pexels-fauxels-3184644-min-p-2000.webp 2000w, images/pexels-fauxels-3184644-min-p-2600.webp 2600w, images/pexels-fauxels-3184644-min-p-3200.webp 3200w, images/pexels-fauxels-3184644-min.webp 4000w" alt="The girl is writing on the chalkboard" class="service-image" />
                <div class="wrapper max-width-420-tablet-560-mobile-420">
                    <h4 class="h4 color-white margin-bottom-20">Academic Counselling</h4>
                    <div class="line white margin-bottom-16"></div>
                    <p class="regular-m color-white">Counsellors provide individual and group support in the areas of course selection, pathway planning, post secondary applications, scholarships, and access to study supports and peer tutoring.</p>
                </div>
            </div>
            <div class="block service">
                <img src="images/schoolboy.webp" loading="lazy" sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 90vw, 92vw" srcset="images/schoolboy-p-500.webp 500w, images/schoolboy-p-800.webp 800w, images/schoolboy-p-1080.webp 1080w, images/schoolboy-p-1600.webp 1600w, images/schoolboy-p-2000.webp 2000w, images/schoolboy.webp 2274w" alt="The schoolboy is studying" class="service-image" />
                <div class="wrapper max-width-420-tablet-560-mobile-420">
                    <h4 class="h4 color-white margin-bottom-20">Personal Counselling</h4>
                    <div class="line white margin-bottom-16"></div>
                    <p class="regular-m color-white">Provides support and resiliency skills to manage stress, anxiety, relationships and personal decision making.  Students may also be connected to our Child and Youth Care staff, Social Worker, or Psychologists.</p>
                </div>
            </div>
            <div class="block service">
                <img src="images/no-revisions-uhpaf0yswuk-unsplash-min.webp" loading="lazy" sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 90vw, 92vw" srcset="images/no-revisions-uhpaf0yswuk-unsplash-min-p-500.webp 500w, images/no-revisions-uhpaf0yswuk-unsplash-min-p-800.webp 800w, images/no-revisions-uhpaf0yswuk-unsplash-min-p-1080.webp 1080w, images/no-revisions-uhpaf0yswuk-unsplash-min.webp 1600w" alt="The girl is reading a book" class="service-image" />
                <div class="wrapper max-width-420-tablet-560-mobile-420">
                    <h4 class="h4 color-white margin-bottom-20">Resources and Information</h4>
                    <div class="line white margin-bottom-16"></div>
                    <p class="regular-m color-white">Designed to support and enhance the learning journey of our students, this invaluable platform provides easy access to a wide range of educational materials, helpful guides, research databases, and interactive tools.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section margin-top-176-mobile-144 bg-grey-3">
    <div class="w-layout-blockcontainer container w-container">
        <div class="wrapper bg-section-padding">
            <div class="heading-and-button margin-bottom-56">
                <h2 class="h2 max-width-432-mobile-320">Stay Informed and Engaged</h2>
                <a href="/news-events" class="button secondary small w-button">View All News &amp; Events</a>
            </div>
            <div class="collection-list-wrapper-type-one w-dyn-list">
                <div role="list" class="collection-list-type-one w-dyn-items">
                    <div role="listitem" class="collection-item-type-one w-dyn-item">
                        <a href="/news-events/pa-day-for-elementary-and-secondary-schools" class="collection-link-block-type-one w-inline-block">
                            <div class="wrapper">
                                <div class="regular-m margin-bottom-12">Events</div>
                                <div class="line black"></div>
                            </div>
                            <div class="collection-content-type-one">
                                <div class="collection-image-type-one wrapper">
                                    <img src="images/image3.webp" loading="lazy" alt="" sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 240px, 144px" srcset="images/image3-p-500.webp 500w, images/image3-p-800.webp 800w, images/image3-p-1080.webp 1080w, images/image3.webp 1260w" class="collection-image-type-one image" />
                                </div>
                                <div class="collection-text-type-one">
                                    <div class="wrapper collection-date-and-heading padding-right-16-tablet-0 table-max-width-320">
                                        <div class="regular-s color-grey-80">Mar 3</div>
                                        <h4 class="h4">PA Day for Elementary and Secondary Schools</h4>
                                    </div>
                                    <div class="tertiary-button">
                                        <div class="regular-m">Learn More</div>
                                        <div class="tertiary-button-icon">
                                            <img src="images/arrow-20right.svg" loading="lazy" alt="" class="icon-size-14" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div role="listitem" class="collection-item-type-one w-dyn-item">
                        <a href="/news-events/tcdsbs-unsung-heroes-june-2023" class="collection-link-block-type-one w-inline-block">
                            <div class="wrapper">
                                <div class="regular-m margin-bottom-12">News</div>
                                <div class="line black"></div>
                            </div>
                            <div class="collection-content-type-one">
                                <div class="collection-image-type-one wrapper">
                                    <img src="images/pexels-katerina-holmes-5905458-min.webp" loading="lazy" alt="" sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 240px, 144px" srcset="images/pexels-katerina-holmes-5905458-min-p-500.webp 500w, images/pexels-katerina-holmes-5905458-min-p-800.webp 800w, images/pexels-katerina-holmes-5905458-min-p-1080.webp 1080w, images/pexels-katerina-holmes-5905458-min.webp 1600w" class="collection-image-type-one image" />
                                </div>
                                <div class="collection-text-type-one">
                                    <div class="wrapper collection-date-and-heading padding-right-16-tablet-0 table-max-width-320">
                                        <div class="regular-s color-grey-80 w-condition-invisible w-dyn-bind-empty"></div>
                                        <h4 class="h4">TCDSB&#x27;s Unsung Heroes | June 2023</h4>
                                    </div>
                                    <div class="tertiary-button">
                                        <div class="regular-m">Learn More</div>
                                        <div class="tertiary-button-icon">
                                            <img src="images/arrow-20right.svg" loading="lazy" alt="" class="icon-size-14" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div role="listitem" class="collection-item-type-one w-dyn-item">
                        <a href="/news-events/asian-canadian-heritage-month" class="collection-link-block-type-one w-inline-block">
                            <div class="wrapper">
                                <div class="regular-m margin-bottom-12">News</div>
                                <div class="line black"></div>
                            </div>
                            <div class="collection-content-type-one">
                                <div class="collection-image-type-one wrapper">
                                    <img src="images/image2.webp" loading="lazy" alt="" sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 240px, 144px" srcset="images/image2-p-500.webp 500w, images/image2-p-800.webp 800w, images/image2-p-1080.webp 1080w, images/image2-p-1600.webp 1600w, images/image2.webp 2000w" class="collection-image-type-one image" />
                                </div>
                                <div class="collection-text-type-one">
                                    <div class="wrapper collection-date-and-heading padding-right-16-tablet-0 table-max-width-320">
                                        <div class="regular-s color-grey-80 w-condition-invisible w-dyn-bind-empty"></div>
                                        <h4 class="h4">Asian Canadian Heritage Month</h4>
                                    </div>
                                    <div class="tertiary-button">
                                        <div class="regular-m">Learn More</div>
                                        <div class="tertiary-button-icon">
                                            <img src="images/arrow-20right.svg" loading="lazy" alt="" class="icon-size-14" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section margin-top-176-mobile-144">
    <div class="w-layout-blockcontainer container w-container">
        <div class="banners-wrapper">
            <div class="banner-type-one sticky">
                <div class="banner-type-one-content bg-blue">
                    <div class="wrapper max-width-880-tablet-640-mobile-480">
                        <p class="banner-heading">Explore Diverse Departments Available In Our School</p>
                    </div>
                    <a href="/academics/departments" class="button primary w-button">Explore Derpartments</a>
                </div>
                <div class="banner-type-one-pattern home-one"></div>
            </div>
            <div class="banner-type-one sticky">
                <div class="banner-type-one-content bg-green">
                    <div class="wrapper max-width-880-tablet-640-mobile-480">
                        <p class="banner-heading">Embark on Academic Excellence: Advanced Placement Program</p>
                    </div>
                    <a href="/academics/advanced-placement-program" class="button primary w-button">About Program</a>
                </div>
                <div class="banner-type-one-pattern home-two"></div>
            </div>
            <div class="banner-type-one sticky">
                <div class="banner-type-one-content bg-purple">
                    <div class="wrapper max-width-880-tablet-640-mobile-480">
                        <p class="banner-heading">St. Ignatius College School&#x27;s Comprehensive Safe Program</p>
                    </div>
                    <a href="/academics/safe-schools-program" class="button primary w-button">About Program</a>
                </div>
                <div class="banner-type-one-pattern home-three"></div>
            </div>
        </div>
    </div>
</section>
