@{
    Layout = "_Layout";
}

<section class="section">
    <main class="hero-content">
        <div class="w-layout-blockcontainer container hero internal w-container">
            <div class="hero-section-content">
                <div class="hero-section-content-block internal bg-light-yellow">
                    <div class="wrapper max-width-640-mobile-480">
                        <h1 class="h1 margin-bottom-28">Stay Connected and Informed</h1>
                        <p class="regular-xl max-width-420">Explore the most recent developments and upcoming events at our school.</p>
                    </div>
                </div>
                <div class="hero-section-image internal news-and-events"></div>
            </div>
        </div>
    </main>
</section>


<section class="section margin-top-176-mobile-144">
    <div class="w-layout-blockcontainer container w-container">
        <div class="wrapper">
            <h2 class="h2 max-width-432-mobile-320 margin-bottom-24">Discover What&#x27;s Happening in School</h2>
            <div data-current="All" data-easing="ease-in-out" data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
                <div class="tabs-menu w-tab-menu">
                    <a data-w-tab="All" class="tab-link w-inline-block w-tab-link w--current">
                        <div class="regular-m">All</div>
                    </a>
                    <a data-w-tab="News" class="tab-link w-inline-block w-tab-link">
                        <div class="regular-m">News</div>
                    </a>
                    <a data-w-tab="Events" class="tab-link w-inline-block w-tab-link">
                        <div class="regular-m">Events</div>
                    </a>
                </div>
                <div class="tabs-content w-tab-content">
                    <div data-w-tab="All" class="w-tab-pane w--tab-active">
                        <div class="collection-list-wrapper-type-two w-dyn-list">
                            <div role="list" class="collection-list-type-two w-dyn-items">
                                <div role="listitem" class="collection-item-type-two w-dyn-item">
                                    <a href="/news-events/pa-day-for-elementary-and-secondary-schools" class="collection-link-block-type-two w-inline-block">
                                        
                                        
                                    </a>
                                </div>
                                <div role="listitem" class="collection-item-type-two w-dyn-item">
                                    <a href="/news-events/tcdsbs-unsung-heroes-june-2023" class="collection-link-block-type-two w-inline-block">
                                        
                                        <div class="wrapper">
                                            <div class="wrapper collection-item-type-two-info margin-bottom-12">
                                                <div class="regular-m">News</div>
                                                <div class="regular-s w-condition-invisible w-dyn-bind-empty"></div>
                                            </div>
                                            <div class="wrapper padding-right-32">
                                                <h4 class="h4"> TCDSB&#x27;s Unsung Heroes | June 2023 </h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div role="listitem" class="collection-item-type-two w-dyn-item">
                                    <a href="~/news-events/asian-canadian-heritage-month" class="collection-link-block-type-two w-inline-block">
                                        
                                        <div class="wrapper">
                                            <div class="wrapper collection-item-type-two-info margin-bottom-12">
                                                <div class="regular-m">News</div>
                                                <div class="regular-s w-condition-invisible w-dyn-bind-empty"></div>
                                            </div>
                                            <div class="wrapper padding-right-32">
                                                <h4 class="h4">Asian Canadian Heritage Month</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div role="listitem" class="collection-item-type-two w-dyn-item">
                                    <a href="/news-events/innovative-science-fair-showcases-student-talent" class="collection-link-block-type-two w-inline-block">
                                        
                                        <div class="wrapper">
                                            <div class="wrapper collection-item-type-two-info margin-bottom-12">
                                                <div class="regular-m">News</div>
                                                <div class="regular-s w-condition-invisible w-dyn-bind-empty"></div>
                                            </div>
                                            <div class="wrapper padding-right-32">
                                                <h4 class="h4">Innovative Science Fair Showcases Student Talent</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div data-w-tab="News" class="w-tab-pane">
                        <div class="collection-list-wrapper-type-two w-dyn-list">
                            <div role="list" class="collection-list-type-two w-dyn-items">
                                <div role="listitem" class="collection-item-type-two w-dyn-item">
                                    <a href="/news-events/tcdsbs-unsung-heroes-june-2023" class="collection-link-block-type-two w-inline-block">
                                        <div class="collection-image-type-two">
                                            <img src="images/pexels-katerina-holmes-5905458-min.webp" loading="lazy" alt="" sizes="(max-width: 767px) 90vw, (max-width: 991px) 42vw, 29vw" srcset="images/pexels-katerina-holmes-5905458-min-p-500.webp 500w, images/pexels-katerina-holmes-5905458-min-p-800.webp 800w, images/pexels-katerina-holmes-5905458-min-p-1080.webp 1080w, images/pexels-katerina-holmes-5905458-min.webp 1600w" class="collection-image-type-two image" />
                                        </div>
                                        <div class="wrapper">
                                            <div class="wrapper collection-item-type-two-info margin-bottom-12">
                                                <div class="regular-m">News</div>
                                                <div class="regular-s w-condition-invisible w-dyn-bind-empty"></div>
                                            </div>
                                            <div class="wrapper padding-right-32">
                                                <h4 class="h4">TCDSB&#x27;s Unsung Heroes | June 2023</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div role="listitem" class="collection-item-type-two w-dyn-item">
                                    <a href="/news-events/asian-canadian-heritage-month" class="collection-link-block-type-two w-inline-block">
                                        <div class="collection-image-type-two">
                                            <img src="images/image2.webp" loading="lazy" alt="" sizes="(max-width: 767px) 90vw, (max-width: 991px) 42vw, 29vw" srcset="images/image2-p-500.webp 500w, images/image2-p-800.webp 800w, images/image2-p-1080.webp 1080w, images/image2-p-1600.webp 1600w, images/image2.webp 2000w" class="collection-image-type-two image" />
                                        </div>
                                        <div class="wrapper">
                                            <div class="wrapper collection-item-type-two-info margin-bottom-12">
                                                <div class="regular-m">News</div>
                                                <div class="regular-s w-condition-invisible w-dyn-bind-empty"></div>
                                            </div>
                                            <div class="wrapper padding-right-32">
                                                <h4 class="h4">Asian Canadian Heritage Month</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div role="listitem" class="collection-item-type-two w-dyn-item">
                                    <a href="/news-events/innovative-science-fair-showcases-student-talent" class="collection-link-block-type-two w-inline-block">
                                        <div class="collection-image-type-two">
                                            <img src="images/image-3.webp" loading="lazy" alt="" sizes="(max-width: 767px) 90vw, (max-width: 991px) 42vw, 29vw" srcset="images/image-p-500-1.webp 500w, images/image-p-800-1.webp 800w, images/image-p-1080-1.webp 1080w, images/image-p-1600.webp 1600w, images/image-3.webp 2000w" class="collection-image-type-two image" />
                                        </div>
                                        <div class="wrapper">
                                            <div class="wrapper collection-item-type-two-info margin-bottom-12">
                                                <div class="regular-m">News</div>
                                                <div class="regular-s w-condition-invisible w-dyn-bind-empty"></div>
                                            </div>
                                            <div class="wrapper padding-right-32">
                                                <h4 class="h4">Innovative Science Fair Showcases Student Talent</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-w-tab="Events" class="w-tab-pane">
                        <div class="collection-list-wrapper-type-two w-dyn-list">
                            <div role="list" class="collection-list-type-two w-dyn-items">
                                <div role="listitem" class="collection-item-type-two w-dyn-item">
                                    <a href="/news-events/pa-day-for-elementary-and-secondary-schools" class="collection-link-block-type-two w-inline-block">
                                        <div class="collection-image-type-two">
                                            <img src="images/image3.webp" loading="lazy" alt="" sizes="(max-width: 767px) 90vw, (max-width: 991px) 42vw, 29vw" srcset="images/image3-p-500.webp 500w, images/image3-p-800.webp 800w, images/image3-p-1080.webp 1080w, images/image3.webp 1260w" class="collection-image-type-two image" />
                                        </div>
                                        <div class="wrapper">
                                            <div class="wrapper collection-item-type-two-info margin-bottom-12">
                                                <div class="regular-m">Events</div>
                                                <div class="regular-s">Mar 3</div>
                                            </div>
                                            <div class="wrapper padding-right-32">
                                                <h4 class="h4">PA Day for Elementary and Secondary Schools</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div role="listitem" class="collection-item-type-two w-dyn-item">
                                    <a href="/news-events/community-cleanup-day-join-us-in-making-a-difference" class="collection-link-block-type-two w-inline-block">
                                        <div class="collection-image-type-two">
                                            <img src="images/pexels-max-fischer-5212703-min.webp" loading="lazy" alt="" sizes="(max-width: 767px) 90vw, (max-width: 991px) 42vw, 29vw" srcset="images/pexels-max-fischer-5212703-min-p-500.webp 500w, images/pexels-max-fischer-5212703-min-p-800.webp 800w, images/pexels-max-fischer-5212703-min-p-1080.webp 1080w, images/pexels-max-fischer-5212703-min-p-1600.webp 1600w, images/pexels-max-fischer-5212703-min.webp 2000w" class="collection-image-type-two image" />
                                        </div>
                                        <div class="wrapper">
                                            <div class="wrapper collection-item-type-two-info margin-bottom-12">
                                                <div class="regular-m">Events</div>
                                                <div class="regular-s">Feb 28</div>
                                            </div>
                                            <div class="wrapper padding-right-32">
                                                <h4 class="h4">Community Cleanup Day. Join Us in Making a Difference</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div role="listitem" class="collection-item-type-two w-dyn-item">
                                    <a href="/news-events/save-the-date-for-our-spectacular-theater-production" class="collection-link-block-type-two w-inline-block">
                                        <div class="collection-image-type-two">
                                            <img src="images/pexels-karolina-grabowska-7692551-min.webp" loading="lazy" alt="" sizes="(max-width: 767px) 90vw, (max-width: 991px) 42vw, 29vw" srcset="images/pexels-karolina-grabowska-7692551-min-p-500.webp 500w, images/pexels-karolina-grabowska-7692551-min-p-800.webp 800w, images/pexels-karolina-grabowska-7692551-min-p-1080.webp 1080w, images/pexels-karolina-grabowska-7692551-min-p-1600.webp 1600w, images/pexels-karolina-grabowska-7692551-min.webp 2000w" class="collection-image-type-two image" />
                                        </div>
                                        <div class="wrapper">
                                            <div class="wrapper collection-item-type-two-info margin-bottom-12">
                                                <div class="regular-m">Events</div>
                                                <div class="regular-s">Feb 24</div>
                                            </div>
                                            <div class="wrapper padding-right-32">
                                                <h4 class="h4">Save the Date for Our Spectacular Theater Production</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

